name: Echo
on:
  repository_dispatch:
    types: [release-notifier-release]

jobs:
  published:
    runs-on: ubuntu-latest
    if: github.event.client_payload.action == 'published'
    steps:
      - run: "echo: 'new release: ${{ github.event.release.tag_name }}'"
